{% extends "base_form.html" %}
{% load i18n %}


{% block h1 %}<h1 class="mb-4">{% trans "Create" %} {% trans "status" %}</h1>{% endblock %}


{% block form %}<form action="{% url 'create_status' %}"  method="post">
    {% csrf_token %}
    <div>
        <div class="mb-3">
            <label class="form-label" for="id_name">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
    </div>



    {% endblock %}

    {% block submit %}
    <input class="btn btn-primary" type="submit" value="{% trans 'Create' %}">
    {% endblock %}
</form>