{% extends "base.html" %}
{% load i18n %}
{% block main %}
<div class="container wrapper flex-grow-1">
    <h1>{% trans "Status" %}</h1>

    <div>
        <a class="d-flex justify-content-end text-black text-decoration-none" href="{% url 'create_statuses' %}">{% trans "Create status" %}</a>
    </div>

    <br>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Create at" %}</th>
            <th></th>
        </tr>
        {% for status in statuses %}
        <tr>

            <td>{{ status.id }}</td>
            <td>{{ status }}</td>
            <td>{{ status.timestamp }}</td>
            <td><a href="{% url 'update_statuses' id=status.id %}">{% trans 'Update' %}</a><br>
                <a href="{% url 'delete_statuses' id=status.id %}">{% trans "Delete" %}</a></td>

        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}