{% extends "base_form.html" %}
{% load i18n %}


{% block h1 %}<h1>{% trans "Create" %} {% trans "label" %}</h1>{% endblock %}


{% block form %}<form action="{% url 'create_label' %}"  method="post">
    {% csrf_token %}
    <div>
        <div>

            <label class="form-label">{{ form.name.label }}</label>
            <div>{{ form.name }}</div>
        </div>
    </div>



    {% endblock %}

    {% block submit %}
    <input class="btn btn-primary" type="submit" value="{% trans 'Create' %}">
    {% endblock %}
</form>