{% extends "base_form.html" %}
{% load i18n %}


{% block h1 %}<h1 class="mb-4">{% trans "Update" %} {% trans "label" %}</h1>{% endblock %}


{% block form %}<form action="{% url 'update_label' pk=label_id %}"  method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="id_name">{{ form.name.label }}</label>
        {{ form.name }}
    </div>



    {% endblock %}

    {% block submit %}
    <input class="btn btn-primary" type="submit" value="{% trans 'Update' %}">
    {% endblock %}
</form>