{% extends "base_form.html" %}
{% load i18n %}


{% block h1 %}<h1 class="mb-4">{% trans "Create task" %}</h1>{% endblock %}


{% block form %}<form action="{% url 'create_task' %}"  method="post">
    {% csrf_token %}
    <div>
        <div class="mb-3">
            <label class="form-label" for="id_name">{{ form.name.label }}</label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_description">{{ form.description.label }}</label>
            {{ form.description }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_status">{{ form.status.label }}</label>
            {{ form.status }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_executor">{{ form.executor.label }}</label>
            {{ form.executor }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_labels">{{ form.labels.label }}</label>
            {{ form.labels }}
        </div>
    </div>



    {% endblock %}

    {% block submit %}
    <input class="btn btn-primary" type="submit" value="{% trans 'Create' %}">
    {% endblock %}
</form>
