{% extends "base.html" %}
{% load i18n %}
{% block main %}


<h1 class="mb-4">{% trans "Task view" %}</h1>

<div class="card">
    <div class="card-header bg-secondary text-white">
        <h2>{{ task }}</h2>
    </div>
    <div class="card-body bg-light">
        <p>
            {% if object.description %}
                {{ object.description }}
            {%  endif %}
        </p>
        <hr>

        <div class="container">
            <div class="row p-1">

                <div class="col">
                    {% trans "Author" %}
                </div>

                <div class="col">
                    {{ object.author.first_name }} {{ object.author.last_name }}
                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    {% trans "Executor" %}
                </div>

                <div class="col">
                    {% if object.executor %}
                        {{ object.executor.first_name }} {{ object.executor.last_name }}
                    {%  endif %}
                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    {% trans "Status" %}
                </div>

                <div class="col">
                    {{ object.status }}
                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    {% trans "Create at" %}
                </div>

                <div class="col">
                    {{ object.timestamp }}
                </div>
            </div>

            <div class="row p-1">

                <div class="col">
                    <h6>{% trans "label" %}</h6>
                    <ul>
                        {% for label in object.labels.all %}
                        <li>{{ label }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <div>
                <a href="{% url 'update_task' pk=object.id %}">{% trans "Update" %}</a>
                <br>
                <a href="{% url 'delete_task' pk=object.id %}">{% trans "Delete" %}</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}