{% load i18n %}

<div class="card">
     <div class="card-header bg-light text-black">
        <form method="get">
            <div class="mb-3">
                <label class="form-label" for="id_status">{{ filters.form.status.label }}</label>
                {{ filters.form.status }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_executor">{{ filters.form.executor.label }}</label>
                {{ filters.form.executor }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_labels">{{ filters.form.labels.label }}</label>
                {{ filters.form.labels }}
            </div>

            <div class="mb-3">
                {{ filters.form.self_tasks }}
                <label class="form-label" for="self_tasks">{{ filters.form.self_tasks.label }}</label>
            </div>

            <input class="btn btn-primary" type="submit" value='{% trans "Send" %}'/>
        </form>
     </div>
</div>
