{% extends "base_form.html" %}
{% load i18n %}


{% block h1 %}<h1 class="mb-4">{% trans "Sign Up" %}</h1>{% endblock %}


{% block form %}<form action="{% url 'create_user' %}"  method="post">
    {% csrf_token %}
    <div>
        <div class="mb-3">
            <label class="form-label" for="id_first_name">{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_last_name">{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_username">{{ form.username.label }}</label>
            {{ form.username }}
            {% for field in form.errors %}
                {% if field == 'username' %}
                    <div>{{ form.errors.username.0 }}</div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_password1">{{ form.password1.label }}</label>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="id_password2">{{ form.password2.label }}</label>
            {{ form.password2 }}
            {% for field in form.errors %}
                {% if field == 'password2' %}
                    <div>{{ form.errors.password2.0 }}</div>
                {% endif %}
            {% endfor %}
        </div>

        <input class="btn btn-primary" type="submit" value="{% trans 'Register' %}">
    </div>


    {% endblock %}
</form>
