{% extends "base.html" %}
{% load i18n %}
{% block main %}


<div class="container wrapper flex-grow">
    <h1 class="my-4">
        {% trans "Delete" %} {% trans "user" %}
    </h1>
    <p>{% trans "Are you sure you want to delete" %} {% block name %}{{ user.first_name }} {{ user.last_name }}{% endblock %}?</p>
    {% block form %} <form action="{% url 'delete_user' pk=user_id %}" method="post">{% endblock %}
        {% csrf_token %}
       <input class="btn btn-danger" type="submit" value="{% trans 'Yes' %}, {% trans 'delete' %}">
    </form>

</div>
{% endblock %}