{% extends "base_form.html" %}
{% load i18n %}


{% block h1 %}<h1>{% trans "Sing in" %}</h1>{% endblock %}


{% block form %}<form action="{% url 'login' %}"  method="post">
    {% csrf_token %}
    <div>
        <div>
            <label class="form-label">{{ form.username.label }}</label>
            <div>{{ form.username }}</div>
        </div>
        <br>
        <div>
            <label class="form-label">{{ form.password.label }}</label>
            <div>{{ form.password }}</div>
        </div>
    </div>



    {% endblock %}

    {% block submit %}
    <input class="btn btn-primary" type="submit" value="{% trans 'login' %}">
    {% endblock %}
</form>